*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.active {
  display: -ms-flexbox !important;
  display: flex !important;
}

.open {
  width: 190px !important;
}

.topbar {
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin-left: 190px;
  width: 85%;
  height: 63px;
  color: #999999;
  background-color: white;
  border-right: #e6e6e6 solid 0.5px;
  border-bottom: #e6e6e6 solid 0.5px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.topbar .container {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
}

.topbar .container .wallet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 40px 0 40px;
  border-left: #e6e6e6 solid 0.5px;
  transition: 1s;
}

.topbar .container .wallet h2 {
  padding: 0 20px 0 20px;
}

.topbar .container .wallet .fa-chevron-down:hover {
  color: #e68a00;
  transform: scale(1.2);
}

.topbar .container .bell {
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 40px 0 40px;
  border-left: #e6e6e6 solid 0.5px;
  position: relative;
}

.topbar .container .bell i::after {
  position: absolute;
  top: 18;
  right: 38;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #e68a00;
}

.topbar .container .bell i:hover {
  color: #e68a00;
  transform: scale(1.2);
}

.topbar .container .bell i:hover::after {
  display: none;
  height: 0px;
  width: 0px;
  transition: all ease-in-out 100ms;
}

.topbar .container .user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 40px 0 40px;
  border-left: #e6e6e6 solid 0.5px;
}

.topbar .container .user p {
  color: #0099cc;
  padding: 0 20px 0 20px;
}

.topbar .container .user p:hover {
  cursor: pointer;
  text-decoration: #0099cc underline;
}

.topbar .container .logout {
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 40px 0 40px;
  border-left: #e6e6e6 solid 0.5px;
}

.topbar .container .logout i:hover {
  color: #e68a00;
  transform: scale(1.2);
}

.sidebar {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 190px;
  height: 100%;
  background-color: #1a1a1a;
  z-index: 2;
}

.sidebar .title {
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin: 0 auto;
  padding: 18px;
}

.sidebar .title h2 {
  font-family: 'Pattaya', sans-serif;
}

.sidebar .title .hamburger {
  display: none;
  color: #999999;
  padding-top: 5px;
  margin-left: 40px;
  font-size: 20px;
  transition: 500ms;
}

.sidebar .title .hamburger:hover {
  color: white;
}

.sidebar ul {
  padding-bottom: 30px;
  border-bottom: #333333 solid 0.5px;
}

.sidebar ul li {
  padding: 12px 5px 12px 15px;
  transition: 500ms;
  position: relative;
}

.sidebar ul li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  height: 100%;
  width: 0;
  background-color: #e68a00;
  transition: all ease-in-out 250ms;
}

.sidebar ul li:hover {
  background-color: #262626;
}

.sidebar ul li:hover::before {
  width: 4px;
}

.sidebar ul li:hover a {
  color: white;
}

.sidebar ul li a {
  display: -ms-flexbox;
  display: flex;
  color: #999999;
}

.sidebar ul li a i {
  width: 30px;
}

.sidebar .massanger {
  -ms-flex-direction: column;
      flex-direction: column;
}

.sidebar .massanger h3 {
  margin: 25px 0 0 18px;
  color: #999999;
}

.sidebar .massanger .manager {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.sidebar .massanger .manager p::after {
  position: absolute;
  bottom: 20;
  right: 85;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #00e660;
}

.sidebar .massanger .manager:hover p {
  color: #f2f2f2;
  transform: scale(1.1);
  transition: 1s;
}

.sidebar .massanger .manager:hover p::after {
  height: 0px;
  width: 0px;
  transition: 500ms;
}

.sidebar .massanger .manager:hover img {
  color: #f2f2f2;
  transform: scale(1.1);
  transition: 1s;
}

.sidebar .massanger .manager p {
  color: #0099cc;
  margin-top: 25px;
  padding: 0 20px 0 20px;
  text-align: start;
  position: relative;
}

.sidebar .massanger .manager img {
  position: absolute;
  top: 15;
  left: 15;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.sidebar .mobile-topbar {
  display: none;
}

.sidebar .mobile-logout {
  display: none;
  visibility: hidden;
}

.pages {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 80px 100px 0 210px;
  width: 100%;
  height: 100%;
}

.pages .generals {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  background-color: white;
  border: #e6e6e6 solid 0.5px;
  box-shadow: 1px 1px 5px #999999;
}

.pages .generals .title {
  width: 100%;
  border-bottom: #e6e6e6 solid 0.5px;
}

.pages .generals .title h3 {
  color: #999999;
  margin: 10px;
}

.pages .generals .date-input {
  text-align: center;
  padding: 20px 50px 20px 50px;
  width: 100%;
}

.pages .generals .date-input input {
  padding: 5px;
  border: #e6e6e6 solid 0.5px;
}

.pages .generals .date-input input:hover {
  background-color: #e6e6e6;
  border: #e68a00 solid 0.5px;
  transition: ease-in-out 200ms;
}

.pages .generals .date-input i {
  padding-top: 8px;
  font-size: 14px;
  margin-left: 10px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #e68a00;
}

.pages .generals .date-input i:hover {
  transform: scale(1.1);
}

.pages .generals .stats {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
  border-top: #e6e6e6 solid 0.5px;
}

.pages .generals .stats .row {
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  padding-top: 30px;
  -ms-flex-direction: row;
      flex-direction: row;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.pages .generals .stats .row div {
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: #e6e6e6 solid 0.5px;
}

.pages .generals .stats .row div:first-child {
  margin-right: 50px;
}

.pages .generals .stats .row div .name {
  color: #999999;
}

.pages .generals .chartName {
  color: #999999;
  padding: 70px 50px 70px 70px;
  text-align: start;
}

.pages .generals .chart {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 900px;
}

.pages .generals .chart h3 {
  padding: 20px;
  color: #999999;
}

.pages .generals .chart canvas {
  width: 800px;
}

.pages .links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border: #e6e6e6 solid 0.5px;
  box-shadow: 1px 1px 5px #999999;
}

.pages .links .title {
  width: 100%;
  border-bottom: #e6e6e6 solid 0.5px;
}

.pages .links .title h3 {
  color: #999999;
  margin: 10px;
}

.pages .links .list {
  padding: 40px;
}

.pages .links .list .button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  height: 40px;
  background-color: #e68a00;
  color: white;
  border-radius: 1px;
  z-index: 2;
}

.pages .links .list .button:hover {
  transform: scale(1.1);
}

.pages .links .list ul {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
}

.pages .links .list ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 20px;
  border-bottom: #e6e6e6 solid 0.5px;
  transition: ease-in-out 500ms;
}

.pages .links .list ul li .name {
  color: #999999;
  width: 200px;
}

.pages .links .list ul li .hyperlink {
  color: #0099cc;
  width: 200px;
}

.pages .links .list ul li .icons i {
  opacity: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-right: 10px;
  color: #999999;
}

.pages .links .list ul li:hover {
  background-color: #e6e6e6;
  border: white solid 0.5px;
}

.pages .links .list ul li:hover .icons i {
  opacity: 100;
}

.pages .links .list ul li .icons i:hover {
  color: #e68a00;
}

@media (max-width: 1150px) {
  .topbar {
    display: none;
  }
  .pages {
    padding: 15px 0 15px 210px;
  }
  .sidebar .mobile-topbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    color: #999999;
    margin: 0;
    padding-left: 15px;
    border-top: #333333 solid 0.5px;
    border-bottom: #333333 solid 0.5px;
  }
  .sidebar .mobile-topbar .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 200px;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
  }
  .sidebar .mobile-topbar .container .wallet {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    min-width: -moz-fit-content;
    min-width: fit-content;
    transition: 1s;
  }
  .sidebar .mobile-topbar .container .wallet h3 {
    padding: 0 20px 0 20px;
  }
  .sidebar .mobile-topbar .container .wallet .fa-chevron-down:hover {
    color: #e68a00;
    transform: scale(1.2);
  }
  .sidebar .mobile-topbar .container .bell {
    color: #999999;
    font-size: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-radius: 5px;
  }
  .sidebar .mobile-topbar .container .bell i::after {
    position: absolute;
    top: 100px;
    right: 83px;
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #e68a00;
  }
  .sidebar .mobile-topbar .container .bell i:hover {
    color: #e68a00;
    transform: scale(1.2);
  }
  .sidebar .mobile-topbar .container .bell i:hover::after {
    display: none;
    height: 0px;
    width: 0px;
    transition: all ease-in-out 100ms;
  }
  .sidebar .mobile-topbar .container .user {
    display: -ms-flexbox;
    display: flex;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .sidebar .mobile-topbar .container .user p {
    color: #0099cc;
    padding: 0 20px 0 10px;
  }
  .sidebar .mobile-topbar .container .user p:hover {
    cursor: pointer;
    text-decoration: #0099cc underline;
  }
  .sidebar .mobile-logout {
    display: block;
    visibility: visible;
  }
  .sidebar .mobile-logout .logout {
    color: white;
    font-size: 25px;
    display: -ms-flexbox;
    display: flex;
    margin-top: 185px;
    height: 60px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 190px;
    background-color: #ff6666;
    border-radius: 5px;
  }
  .sidebar .mobile-logout .logout i:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 900px) {
  .pages {
    padding: 15px 0 15px 60px;
  }
  .sidebar {
    width: 50px;
  }
  .sidebar .title .hamburger {
    display: -ms-flexbox;
    display: flex;
  }
  .sidebar .title {
    margin: 0 auto;
    padding: 10px 5px 20px 5px;
  }
  .sidebar .title h2 {
    padding-right: 40px;
    display: none;
  }
  .sidebar .title .hamburger {
    margin: 0 auto;
  }
  .sidebar ul li a p {
    display: none;
  }
  .sidebar .massanger h3 {
    display: none;
  }
  .sidebar .massanger p {
    display: none;
  }
  .pages .generals {
    padding: 0;
  }
  .pages .generals .stats .row {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .pages .generals .stats .row div {
    width: 180px;
  }
  .pages .generals .stats .row div:first-child {
    margin-right: 0;
  }
  .sidebar .massanger {
    display: none;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .sidebar .massanger .manager img {
    margin-right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .sidebar .mobile-topbar .container {
    height: 200px;
  }
  .sidebar .mobile-topbar .container .wallet {
    display: none;
  }
  .sidebar .mobile-topbar .container .bell {
    color: #999999;
    font-size: 25px;
    display: -ms-flexbox;
    display: flex;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-radius: 5px;
  }
  .sidebar .mobile-topbar .container .bell i:hover {
    color: #e68a00;
    transform: scale(1.2);
  }
  .sidebar .mobile-topbar .container .bell i::after {
    top: 95px;
  }
  .sidebar .mobile-topbar .container .user {
    display: none;
  }
  .sidebar .mobile-logout {
    display: none;
  }
}

@media (max-width: 603px) {
  .pages .generals .chart h3 {
    margin: 0 auto;
  }
  .pages .generals .chart {
    padding: 0;
  }
  .pages .links .list {
    padding: 20px;
  }
  .pages .links .list ul li {
    -ms-flex-direction: column;
        flex-direction: column;
    position: relative;
  }
  .pages .links .list ul li .name {
    width: 100%;
  }
  .pages .links .list ul li .hyperlink {
    width: 100%;
  }
  .pages .links .list ul li .icons {
    position: absolute;
    padding-top: 0;
    padding-bottom: 120px;
    padding-left: 130px;
    top: 5;
  }
  .pages .links .list ul li {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  .pages .links .list ul li .icons {
    padding-top: 20px;
    padding-left: 100px;
  }
}

@media (max-width: 300px) and (max-width: 280px) {
  .pages .links .list ul li .icons {
    padding-left: 80px;
  }
}
/*# sourceMappingURL=style.css.map */